:host {
  .cidr-control {
    display: flex;
    height: 32px;
    line-height: 32px;
    input {
      border: 0;
      border-bottom: 1px solid #d9d9d9;
      text-align: center;
      outline: none;
      box-shadow: none;
    }
    .cidr-mask{
      width: 60px;
    }
  }
}